* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{

}

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: #F0EAD6;
    min-height: 100vh;
    line-height: 1.4;
    display: grid;
    place-content: center;
    
}

img {
    max-width: 100%;
    display: block;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h1 {
    color: var(--nutmeg);
    margin-bottom: 1rem;
}

.steps {
    margin: 1rem 0;
}

.nut_steps {
    margin-top: 1rem;
}

ul{
    padding-left: 1.25rem;
}

ul li::marker{
    color: #81422c;
    font-weight: bold;
}

ul li {
    margin-bottom: .5rem;
}

ul li span {
    color: brown;
    margin-left: 1rem;
    font-weight: 700;
}
hr {
    margin: 1.5rem 0;
    border: 1px solid lightgray;
}

.container {
    max-width: 800px;
    background-color: #fff6f5;
    margin: 2rem;
    border-radius: 1rem;
}

.container .img_receip {
     padding: 2rem;
     border-radius: 1rem;
     overflow: hidden;

}
.container .img_receip img{
    border-radius: 1rem;
}
.info_receip {
    padding: 0rem 2rem 2rem 2rem;
}

.describe{
    margin: 1.5rem 0;
}

.receip_prep {
    background-color: #fff6f5;
    padding: 1.25rem;
    border-radius: 1rem;
}

.receip_prep h3{
    border-radius: 1rem;
    color: #872657;
}

.receip_prep ul li::marker{
    color: #872657;
}

.ingredients {
    margin-bottom: .5rem;
}

.ingredients li span{
    font-weight: initial;
}

.instructions .item{
    margin-bottom: .5rem;
    padding-left: .5rem;
    display: flex;
}

.instructions .item .number{
    margin-right: .5rem;
    font-weight: 700;
    color: #81422c;
}

.instructions .item p span {
    font-weight: 700;
}


.nut_steps .values{
    margin-bottom: 1rem;
}

.table .item{
    padding: .75rem 2rem;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.table .item:last-child {
    border-bottom: 0;
}

.table .item:nth-child(2) {
    color: #81422c;
    font-weight: 700;
}
.table .item > * {
    width: 100px;
    margin-right: auto;
}

@media (max-width: 540px) {
    h1 {
        margin-top: 2rem;
    }
    .container {
        margin: 0;
    }
    .container .img_receip{
        padding: 0;
        border-radius: 0;
    }
    .container .img_receip img{
        border-radius: 0;
    }
}



